/* qa = question-answer */

#content-wrapper {
	margin-bottom: 200px;
}

.qa-container {
	padding-left: 20px;
	margin: 10px 0 5px 0;
	list-style-type: none;
}

.qa-container-data {
	padding-left: 60px;
}

.qa-container-data p {
	margin: 0;	
}

.category-name, .category-name-label {
	font-size: 24px;
}

.category-name {
	margin: 10px 0 5px 0;
}

.category-name-label {
	margin: 30px 0 5px 0;
}

.qa-label {
	width: 10%;
	text-align: right;
	float: left;
	margin-right: 5px;
}

.qa-input {
	width: 65%;
	text-align: left;
}

#game-meta {
	margin-bottom: 20px;
}

#game-meta label {
	width: 10%;
	text-align: right;
	float: left;
}

#game-meta input, #game-meta select {
	width: 35%;
	margin-left: 10px;
	text-align: left;
}

h1 {
	font-size: 35px;
}

.error {
	background-color: #ffc993;
	color: #E0110B;
}

.error-container {
	width: 960px;
	margin: 30px auto 0 auto;
	background-color: #ffc993;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 1px dashed #e0110b;
}

.error-container p {
	margin: 10px 15px;
}

.icon {
	width: 20px;
	height: 20px;
	vertical-align: middle;
}

.valid-category-icon {
	width: 40px;
	height: 40px;
}

.expand-contract-icon {
	position: relative;
	top: 2px;

	cursor: pointer;
}
