/* qa = question-answer */

#content-wrapper {
	margin-bottom: 200px;
}

.qa-label {
	margin: 10px 0 0 30px;
	cursor: default;

	transition-duration: 0.1s;
	-webkit-transition-duration: 0.1s; /*Safari*/

	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	-o-user-select: none;
	user-select: none;    
}

.qa-label:hover {
	background-color: #edf7ff;
}

.qa-container {
	padding-left: 80px;
}

.qa-label-hint {
	font-style: italic;
	font-size: 11px;
	color: #7a7a7a;
}

.category-name {
	margin: 10px 0 5px 0;
	font-size: 24px;
}

img.expand-contract-icon {
	width: 16px;
	height: 16px;
	display: inline;
	vertical-align: bottom;
	padding-right: 5px;
	float: left;
	position: relative;
	top: 8px;
}

img.expand-contract-icon-2 {
	top: 7px;
	left: 40px;
}

.category-container label {
	width: 10%;
	text-align: right;
	float: left;
}

.category-container input[type="text"]:not(.category-name) {
	width: 85%;
	text-align: left;
	float: right;
}

#game-meta {
	margin-bottom: 20px;
}

#game-meta label {
	width: 10%;
	text-align: right;
	float: left;
}

#game-meta input, #game-meta select {
	width: 35%;
	margin-left: 10px;
	text-align: left;
}

h1 {
	font-weight: normal;
	font-size: 35px;
}

.red {
	color: #fc4949;
}
