/* http://goo.gl/umcNAK */

body {
	background-color: #0C3C93;
}

#content-wrapper {
	width: 960;
	margin: 0 auto;
}

#header-text {
	font-family: "Gyparody" serif;
	color: #FFF;
	font-size: 60;
	margin: 20px 0 10px 0;

	background: -webkit-linear-gradient(#eee, #333);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#gameboard {
	background-color: #101a7c;
	table-layout: fixed;
	border-collapse: collapse;
}

th {
	color: #FFF;
	text-transform: uppercase;
	text-shadow: 3px 3px #000;
	font-family: "Alegreya" sans-serif;
	font-size: 20px;
}

td {
	font-size: 30px;
	color: #D9A41F;
	text-shadow: 2px 2px #000;
	font-family: "Alfa Slab One" sans-serif;
}

td, th {
	border: 3px solid black;
	text-align: center;
	padding: 16px;
}