/* http://goo.gl/umcNAK */

body {
	background-color: #0C3C93;
}

#content-wrapper {
	width: 960;
	margin: 0 auto;
}

#header-text {
	font-family: "Gyparody" serif;
	color: #FFF;
	font-size: 60;
	margin: 20px 0 10px 0;

	font-size: 72px;
	background: -webkit-linear-gradient(#eee, #333);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.teams-container {
	display: table;
	margin: 0 auto;
}

table.teams {
	color: white;
	text-align: center;
	border-collapse: collapse;
	margin: 20px 0 0 0;
}

table.teams th {
	font-size: 20px;
	padding: 10px 20px 10px 20px;
}

table.teams td {
	font-size: 17px;
	padding-bottom: 10px;
}

table.teams td, table.teams th {
	border-right: 3px dashed #0B5989;
	border-left: 3px dashed #0B5989;
	font-family: Alegreya, sans-serif;
}

/* "Delete" the left most border */
table.teams td:first-child, table.teams th:first-child {
	border-left-width: 0;
}

/* "Delete" the right most border */
table.teams td:last-child, table.teams th:last-child {
	border-right-width: 0;
}

#darkness {
	background: rgba(0, 0, 0, 0.5);
	display: none;
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 5;
}

#popupQuestion {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 400px;
	margin-left: -200px;
	margin-top: -200px;
	background-color: #101a7c;
	/* Right above #darkness */
	z-index: 6;
	display: none;
	color: white;
	border: 3px outset #0C3C93;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

#popupQuestionContent {
	text-align: center;
	font-family: Korinna, sans-serif;
	font-size: 20px;
	margin: 20px;
}

.clear {
	clear: both;
}

.buttonContainer {
	padding: 20px;
}

button.popupButton {
	font-family: Korinna, sans-serif;
	font-size: 14;
	background-color: #efefef;
	padding: 5px 7px;
	border: none;
	border-radius: 5px;
	transition-duration: 0.25s;
}

button.popupButton:hover {
	background-color: #c9c9c9;
}

button.popupButton:active {
	background-color: #727272;
}

button.teamButton {
	color: #FFF;
}

button.correct {
	background-color: #1f893d;
}

button.incorrect {
	background-color: #d10609;
}

.jeoButton.clicked {
	background-color: #081166;
}

#endGameHeader, #endGameSubheader {
	text-align: center;
}

#endGameHeader {
	font-size: 40px;
}

#endGameSubheader {
	font-size: 30px;
}

#endGameContent {
	font-family: Korinna, sans-serif;
	color: #FFF;
	width: 50%;
	margin: 0 auto;
}