/* http://goo.gl/umcNAK */

body {
	background-color: #0C3C93;
}

#content-wrapper {
	width: 960px;
	margin: 0 auto;
}

#header-text {
	font-family: "Gyparody" serif;
	color: #FFF;
	font-size: 60;
	margin: 20px 0 10px 0;

	font-size: 72px;
	background: -webkit-linear-gradient(#eee, #333);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#endGameHeader, #endGameSubheader {
	text-align: center;
}

#endGameHeader {
	font-size: 40px;
}

#endGameSubheader {
	font-size: 30px;
}

#endGameContent {
	font-family: Korinna, sans-serif;
	color: #FFF;
	width: 50%;
	margin: 0 auto;
}