#darkness {
	background: rgba(0, 0, 0, 0.5);
	display: none;
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 5;
}

#popupQuestion {
	position: absolute;
	
	width: 800px;
	height: 300px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -150px 0 0 -400px;

	background-color: #101a7c;
	/* Right above #darkness */
	z-index: 6;
	display: none;
	color: white;
	border: 3px outset #0C3C93;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

#popupQuestionContent {
	text-align: center;
	font-family: Korinna, sans-serif;
	font-size: 20px;
	margin: 20px;
}

.buttonContainer {
	padding: 20px;
}

.teamButtonContainer {
	margin: 0 auto;
}

button.popupButton {
	font-family: Korinna, sans-serif;
	font-size: 14;
	background-color: #efefef;
	padding: 5px 7px;
	border: none;
	border-radius: 5px;
	transition-duration: 0.25s;
}

button.popupButton:hover {
	background-color: #c9c9c9;
}

button.popupButton:active {
	background-color: #727272;
}

button.teamButton {
	color: #FFF;
}

button.correct {
	background-color: #1f893d;
}

button.incorrect {
	background-color: #d10609;
}